.sidebar {
    background-color: #000000;    
    position: sticky;
    width: 267px;
    top: 0px;
    padding: 16px 32px;
    min-height: 100vh;
    box-sizing: border-box;

    &__logo-container{
        width: 103px;
        height: 40px;
        display: flex;
        align-items: center;
    }
    &__logo-rectangle{
        width: 40px;
        height: 40px;
        margin-left: 0px;
        border-radius: 12px;
        background: radial-gradient(24.67% 54.45% at 101.34% 102.01%, rgba(4, 198, 93, 0.5) 0%, rgba(4, 198, 93, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(187.03% 224.7% at 0% -1.89%, rgba(255, 140, 140, 0.8) 8.33%, rgba(164, 164, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(81.13deg, #1A76FF -22.71%, #FFEA96 101.06%);
    }
    &__logo-icon{
        margin: 7px;
    }
    &__logo-text{
        margin-left: 24px;
        font-size: 13px;
        line-height: 24px;
        color: #FFFFFF;
    }
    &__menu-container{
        min-width: 219px;
        min-height: 720px;
        margin-top: 32px;
        display: grid;
        gap: 20px 0;
        font-size: 13px;
        line-height: 24px;
        color: #FFFFFF;
    }
}

@media (min-width: 720px) and (max-width: 1279px){
    .sidebar{
        width: 88px;
        padding: 16px;
        &__logo-container{
            width: 40px;
            height: 40px;
            margin: 0 8px;
        }
        &__logo-text{
            display: none;
        }
        &__menu-container{
            min-width: 56px;
            margin: 32px 8px;
        }
    }
}
@media (max-width: 719px){
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-267px);
    }
}