.item{
    &__notification{
        width: 28px;
        height: 20px;
        background: #EA2E2E;
        border-radius: 16px;
        text-align: center;
        line-height: 20px;
        color: #FFFFFF;
    }
    &__img--sidebar{
        color: #ffffff;
        margin: 0;
        font-size: 18px;
        width: 21px;
    }
}