.nz-container{
    &__item_main{
        display: grid;
        grid-template-rows: 1fr 1fr;
        background: #F4F8FE;
        align-items: center;
        justify-items: center;
        padding: 10px;
        gap: 24px 0;
    }
}
@media (min-width: 720px) and (max-width: 1279px){
    .nz-container{
        &__item_main{
            max-width: 173px;
            height: 192px;
        }
    }
}
@media (max-width: 719px){
    .nz-container{
        &__item_main{
            max-width: 160px;
            height: 192px;
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}