body {
  font-size: 13px;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
}

b {
  font-weight: 700;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
}
