@import url("reset.css");
@import url("icomoon.css");
@import url("header.css");
@import url("sidebar.css");
@import url("main.css");
@import url("footer.css");

.logo:before {
    content: '\e357';
    width: 26px;
    height: 26px;
    left: 7px;
    top: 7px;
}
@font-face {
    font-family: 'e-Ukraine'; /* название шрифта */
    src: url('./../fonts/e-Ukraine-Regular.otf') format('opentype'); /* путь к файлу шрифта */
}
body {
    max-height: 100%;
    max-width: 100vw;
    scroll-behavior: auto;
    margin: 0;
    font-family: 'e-Ukraine';
    font-style: normal;
    font-weight: 400;
}